__pycache__
out
# ignore built binaries
client/v*.*.*
client/client.exe
client/blenderkit-client-dev
client/blenderkit-client-dev.exe
client/bk_client-dev
client/bk_client-dev.exe
client/test_results
client/client.test
__debug_bin.exe

bk_client-settings.json
*-client-settings.json

client_builds
.mypy_cache
.venv
.pdm-python
pdm.lock

*.egg-info

.ruff_cache

# prevent publishing of dynamically created updater cache
*_updater_status.json

# debug and backup folders
_debug/
_bck/

# debug env variables
.env

# macos thumbnail database
.DS_Store
